 body {
	 background-color: #eee;
	 color: #00134d;
     font-family: "Belgrano", sans-serif;}
	 
#container {
	margin: auto;
	background-color: #eddede;
	width: 700px;
	padding: 10px
	}
	
div#theLeft {
  display: inline-block;
  margin: 0px 20px;
  clear:both;
  width:20%;
  float:left;
}

div#theRight {
  display: inline-block;
  margin: 0px 20px;
  width:80%;
  float:right;
  padding-bottom:20px;
  padding-right:30px;
}


fieldset {
	float: top;
	margin-bottom: 20px;
	width: 50%;
	display: inline-block;
}

legend {
		  padding: 10px;
		  color: #cd5c5c;
		  font-weight: bold;
}

li {
		list-style-type: none; 
		margin: 5px;
		display: block;
		}
label {
		display: block;
		padding: 3px;
		
		}

header {background-color: #eddede; color: #00134d; text-align: center;}

h1 {color: ##00134d;}
h2 {color: #cd5c5c;}
h3 {color: #808080;}	
h4 {font-size: 75%; color: #696969;}

.button {
		     font-weight: bold;
			 text-align: center;
		     color: white;
			 background-color: #CD5C5C;
		     width: 200px;
		     height: 50px;
		}